@import "../../global-styles/terra.scss";

.documentation {
  display: grid;
  grid-template-columns: 350px 1fr;
  min-height: calc(100vh - 84px);

  .doc-page {
    padding: spacing("xxl");
    border-left: solid 2px gray("gray-3");
    max-width: 800px;

    hr {
      border-top: solid 1px gray("black");
    }

    &__header {
      font-size: font-size("xl");
    }

    &__main-description {
      font-size: font-size("md");
    }

    &__section-text {
      font-size: font-size("base");
    }

    &__section {
      margin-top: spacing("lg");
      margin-bottom: spacing("lg");
    }

    &__code-snippet-span {
      background: gray("gray-2");
      color: brand-color("brand-4");
      padding: 0 4px;
      font-family: monospace, monospace;
    }

    &__code-tab {
      display: flex;
      justify-content: flex-end;
      background: #f5f9fc;
      color: gray("gray-5");
      margin-top: spacing("md");

      p {
        margin-right: spacing("sm");
        margin-bottom: 0;
        margin-top: spacing("xxs");
        font-size: font-size("nano");
        font-weight: font-weight("bold");

        &.is-active {
          color: brand-color("brand-1");
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
