@import "../../global-styles/terra.scss";

.documentation {
  display: grid;
  grid-template-columns: 350px 1fr;
  min-height: calc(100vh - 84px);

  .doc-page {
    padding: spacing("xxl");
    border-left: solid 2px gray("gray-3");
    max-width: 800px;

    hr {
      border-top: solid 1px gray("black");
    }

    &__header {
      font-size: font-size("xl");
    }

    &__main-description {
      font-size: font-size("md");
    }

    &__section-text {
      font-size: font-size("base");
    }

    &__section {
      margin-top: spacing("lg");
      margin-bottom: spacing("lg");
    }
  }
}
