@import "../../global-styles/terra.scss";

.documentation {
  display: grid;
  grid-template-columns: 350px 1fr;
  min-height: calc(100vh - 84px);

  .doc-page {
    border-left: solid 2px gray("gray-3");

    &__header {
      font-size: font-size("xl");
    }
  }
}
