@import "../../global-styles/terra.scss";

.ter-navbar {
  background-color: $navbar-bg;
  position: fixed;
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  height: $navbar-height;
  width: 100%;
  z-index: 1000;
  box-shadow: box-shadow(1);

  &__logo {
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

  &__nav {
    justify-self: end;
    margin-right: spacing("md");
    display: flex;
  }

  &__nav-link,
  &__nav-link[href] {
    margin: 0 0 0 spacing("xxl");
    font-size: $navbar-font-size;
    color: $navbar-link-color;
    text-decoration: none;
    &:visited,
    &:active {
      color: $navbar-link-color;
    }
    &:hover {
      cursor: pointer;
      color: $navbar-link-hover-color;
      text-decoration: none;
    }

    p {
      margin: 0;
      color: gray("gray-1");
    }
  }
}

.ter-logo {
  color: gray("gray-1");
  font-size: font-size("xl");
  margin: 0 spacing("lg");

  &__version {
    font-size: font-size("nano");
    font-weight: font-weight("normal");
  }
}
